<p> This application conforms to the specifications of <a href=http://academia.edu/hiring/challenge/twitter>The Academia.edu challenge</a></p>

<p><%= image_tag "signin.png" %></p>

<ul>
    <li>Coded by: Doug von Kohorn, <a href=www.github.com/dougvk/twitterapp>Source</a></li>
</ul>
