<div class="container">
  <div class="page-header">
    <h1><a href=http://academia.edu/hiring/challenge/twitter>The Academia.edu Twitter challenge&nbsp;</a><small>Coded by Doug von Kohorn on <a href=http://www.github.com/dougvk/twitterapp>Git(hub)</a></small></h1>
  </div>
  <div class="row">
  </div>
</div>
