<input type='hidden' id='twitter_id' value="<%=h @user.twitter_id %>" />
<input type='hidden' id='show_per_page' />
<input type='hidden' id='current_page' />
<input type='hidden' id='num_pages' />

<div class="container">
  <div class="page-header">
    <h1><a href=http://academia.edu/hiring/challenge/twitter>The Academia.edu Twitter challenge</a>&nbsp;<small>Coded by Doug von Kohorn on <a href=http://www.github.com/dougvk/twitterapp>Git(hub)</a></small></h1>
  </div>
  <div class="row main-beef">
    <div class="loading span-one-third">&nbsp;</div>
    <div class="loading span-one-third"><p><%= image_tag "ajax-loader.gif"%></p><p><small>Performing updates...</small></p></div>
    <div class="loading span-one-third">&nbsp;</div>
    <div class="span9">
      <h2>Users you follow</h2>
      <div id="ids">
      </div>
      <div id="friends">
      </div>
      <div class="pagination">
        <ul>
        </ul>
      </div>
    </div>
    <div class="span7">
      <h2>Search suggestions</h2>
      <div id="results">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">&nbsp;</div>
    <div class="span-one-third">
      <button id="save" class="btn large primary save">Save Your Changes</button>
    </div>
    <div class="span-one-third">&nbsp;</div>
  </div>
</div>
