<input type='hidden' id='twitter_id' value="<%=h @user.twitter_id %>" />
<input type='hidden' id='show_per_page' />
<input type='hidden' id='current_page' />
<input type='hidden' id='num_pages' />

<div class="container">
  <div class="page-header">
    <h1>Academia.edu Twitter Challenge&nbsp;<small>Coded by Doug von Kohorn</small></h1>
  </div>
  <div class="row">
    <div class="span9">
      <h2>Users you follow</h2>
      <div id="ids">
      </div>
      <div id="friends">
      </div>
      <div class="pagination">
        <ul>
        </ul>
      </div>
    </div>
    <div class="span7">
      <h2>Search suggestions</h2>
      <div id="results">
      </div>
    </div>
  </div>
</div>
