<!DOCTYPE html>
<html>
<head>
  <title>dougvk's Academia.edu Twitter App</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "users/partial_login", :locals => {  } -%>

<%= yield %>

</body>
</html>
